:root {
    --bgColorBody : #c5e6ff;
    --titleColor : #949494;
    --textColor : #c4c4c4;
    --bgButtonColor : #53a6db;
    --font : 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: var(--font);
    margin: 0 auto;
}

